body {
  font-family: 'Open Sans', sans-serif;
  width: 80%;
  margin: 0 10%;
}

h1{
  font-family: 'Merriweather', serif;
  font-size: 2.4rem;
  margin: 5% 5% 0;
  text-align: center;
  color: darkturquoise;
}

article {
  width: 100%;
  padding-bottom: 10%;
}

code {
  display: block;
  padding: .2rem;
  margin: .5rem;
  background-color: lightseagreen;
  border-radius: .3rem;
  color: white;
}

p {
  margin: .7rem 0;
}